body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header {
    font-size: 18px;
    justify-content: space-between;
}

.left-links {
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    font-size: 18px;
    justify-content: center;
}

.header, .footer {
    display: flex;
    align-items: center;
    
    background: #1f2937;
    color: #e5e7eb;
    padding: 16px;
}